.DS_Store
.Rproj.user
prep-R/.Rproj.user/5BB1CEAC/sources/prop/BC24C4DE
prep-R/.Rproj.user/5BB1CEAC/sources/prop/INDEX
prep-R/.Rproj.user/5BB1CEAC/sources/s-382E34AA/A19C5FC1
prep-R/.Rproj.user/
prep-R/.Rproj.user/5BB1CEAC/sources/prop/BC24C4DE
prep-R/.Rproj.user/5BB1CEAC/sources/s-382E34AA/A19C5FC1
prep-R/.Rproj.user/5BB1CEAC/sources/s-382E34AA/A19C5FC1-contents
