* {

    box-sizing: border-box;

}

/* VIS */

.vis {

    width: 100%;
    height: 500px;
    outline: 2px solid slateblue;

}

.vis-container {

    position: relative;

}

p.label {

    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;

}