* {
    box-sizing: border-box;
}

:root {
    --base-angle: calc(360deg / 7);
    --initial-angle: calc(360deg / 14);

    font-family: Inter;
}

.nav-wheel {
    max-width: 300px;
    margin: 0 auto;
}

svg[data-eixo-atual] {
    transition: transform 1s;
}

svg text {
    pointer-events: none;
}

[data-eixo-roda] {
    cursor: pointer;
}

[data-eixo-atual='Abertura Comercial'] { transform: rotate(var(--initial-angle)); }
[data-eixo-atual='Equilíbrio Fiscal'] { transform: rotate( calc( var(--initial-angle) - var(--base-angle) ) ); }
[data-eixo-atual='Ambiente de negócios'] { transform: rotate( calc( var(--initial-angle) - 2*var(--base-angle) ) ); }
[data-eixo-atual='Serviço Público'] { transform: rotate( calc( var(--initial-angle) - 3*var(--base-angle) ) ); }
[data-eixo-atual='Investimento'] { transform: rotate( calc( var(--initial-angle) + var(--base-angle) ) ); }

[data-eixo='Abertura Comercial'] {
    --cor-principal: #5E2539;
    --cor-secundaria: #F0B5C9;
}

[data-eixo='Ambiente de negócios'] {
    --cor-principal: #014541;
    --cor-secundaria: #ADD9D2;
}

[data-eixo='Equilíbrio Fiscal'] {
    --cor-principal: #033D56;
    --cor-secundaria: #A6CAEA;
}

[data-eixo='Investimento'] {
    --cor-principal: #6E2309;
    --cor-secundaria: #F0A881;
}

[data-eixo='Serviço Público'] {
    --cor-principal: #235329;
    --cor-secundaria: #C4DC9B;
}


.card-container {

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;

}

.card {

    flex: 300px 1 0;
    font-family: Inter;

}

.card.escondido {

    display: none;

}

.card p {

    margin: 0;
    padding: 1rem;


}

.card-container-titulo {

    border-radius: 1rem 1rem 0 0;
    background-color: var(--cor-principal);
    color: white;
    position: relative;

}

.card-btn-expandir {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%,50%);
    border-radius: 50%;
    background-color: var(--cor-principal);
    color: white;
    border: 4px solid white;
    width: 2rem;
    height: 2rem;
    text-align: center;
    display: inline-block;
    transition: border-color .25s, color .25s;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-btn-expandir:hover {
    /*animation: balanca 1s;*/
    border-color: var(--cor-secundaria);
    color: var(--cor-secundaria);
}

.card-btn-expandir::after {
    content: '+';
}

.card-btn-expandir.btn-expandido::after {
    content: '–';
}

.card-texto {
    border-radius: 0 0 1rem 1rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}


select {

    font-family: Inter;
    font-size: 1rem;
    border: 3px solid #333;
    color: #333;
    padding: .3em;
    border-radius: 5px;

}



@keyframes balanca {

    0% {
        transform: translate(-50%,50%) rotate(0deg);
    }

    33% {
        transform: translate(-50%,50%) rotate(-15deg);
    }

    66% {
        transform: translate(-50%,50%) rotate(15deg);
    }

    100% {
        transform: translate(-50%,50%) rotate(0);
    }
    
}