* {
    box-sizing: border-box;
}

[data-eixo='Abertura Comercial'] {
    --cor-principal: #5E2539;
    --cor-secundaria: #F0B5C9;
}

[data-eixo='Ambiente de negócios'] {
    --cor-principal: #014541;
    --cor-secundaria: #ADD9D2;
}

[data-eixo='Equilíbrio Fiscal'] {
    --cor-principal: #033D56;
    --cor-secundaria: #A6CAEA;
}

[data-eixo='Investimento'] {
    --cor-principal: #6E2309;
    --cor-secundaria: #F0A881;
}

[data-eixo='Serviço Público'] {
    --cor-principal: #235329;
    --cor-secundaria: #C4DC9B;
}


.card-container {

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;

}

.card {

    flex: 300px 1 0;
    font-family: sans-serif;

}

.card p {

    margin: 0;
    padding: 1rem;


}

.card-container-titulo {

    border-radius: 1rem 1rem 0 0;
    background-color: var(--cor-principal);
    color: white;
    position: relative;

}

.card-btn-expandir {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%,50%);
    border-radius: 50%;
    background-color: var(--cor-principal);
    color: white;
    border: 2px solid white;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    display: inline-block;
    transition: border-color .5s, color .5s;
    cursor: pointer;
}

.card-btn-expandir:hover {
    /*animation: balanca 1s;*/
    border-color: var(--cor-secundaria);
    color: var(--cor-secundaria);
}

.card-btn-expandir::after {
    content: '+';
}

.card-btn-expandir.btn-expandido::after {
    content: '-';
}

.card-texto {
    border-radius: 0 0 1rem 1rem;
    background-color: var(--cor-secundaria);
    color: white;
}

@keyframes balanca {

    0% {
        transform: translate(-50%,50%) rotate(0deg);
    }

    33% {
        transform: translate(-50%,50%) rotate(-15deg);
    }

    66% {
        transform: translate(-50%,50%) rotate(15deg);
    }

    100% {
        transform: translate(-50%,50%) rotate(0);
    }
    
}